            {% if not articles_page or first_article_of_day %}
            <h4 class="date">{{ article.locale_date }}</h4>
            {% endif %}

            <article class="post">
                {% if article.title %}
                <h2 class="title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
                </h2>
                {% endif %}

		{% if not articles_page %}
		{% include "translations.html" %}
		{% endif %}


                {{ article.content }}
                <div class="clear"></div>

            </article>
